---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/28612086?access_token=28612086.40494cd.7c669e402f234131aa9a9c30ef7618b1&client_id=40494cd720eb4bc9a77cdfca1f24b454
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '490'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"username": "4ng3l4", "bio": "I''m
        a happy lady with a happy family and a happy life.", "website": "", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/11925837_1461009007538193_1505129354_a.jpg",
        "full_name": "Angela Lindow", "counts": {"media": 39, "followed_by": 193,
        "follows": 341}, "id": "28612086"}}'
  recorded_at: Thu, 01 Sep 2016 04:29:05 GMT
recorded_with: VCR 3.0.3
